/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 47%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col {
		margin: 1% 0 1% 0%;
	}

.btn1{
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 5%;
  position: relative;
}
a.btn1{
	  text-align: center;
	  background: #3498db;
	  -webkit-border-radius: 5;
	  -moz-border-radius: 5;
	  border-radius: 5px;
	  font-family: 'Gill Sans', 'Trebuchet MS', Arial, sans-serif;
	  font-weight: lighter;
	  color: #ffffff;
	  font-size: 20px;
	  padding: 10px 20px 10px 20px;
	  text-decoration: none;
	}

	#about {
	position: center;
	width: 90%;
	margin-top: 0px;
	color: white;
	font-size: 1.2em;
	font-style: italic;
	font-weight: lighter;
	}

	hr{
	display: none;
	}

}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}
